################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/WpfExtensions/v14
/src/WpfExtensions/bin
/src/WpfExtensions/obj
/src/WpfExtensionsNuGet/bin
/src/WpfExtensionsNuGet/obj
